@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap');

$red: #ff0000;
$blue: #0000ff;
$green: #00ff00;
$font-color: #fff;
$font-style1: 'Open Sans', sans-serif;

$text-padding: calc(5% - 30px);

.box {
    background-color: $blue;
    font-family: $font-style1;

    p {
        color: $font-color;
        padding: $text-padding;
        text-align: justify;
    }
}